doctype html
html
    head
        title Moondust
        link(href='/style/whole/reset.css',rel='stylesheet')
        link(href='/favicon.svg',rel='shortcut icon',sizes='any')
        block head
    body
        block body